@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #222;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

/* ----- Header ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 2em 10em;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5em;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 1.3em;
    transition: color 0.2s;
}

nav a:hover {
    color: #46A72A;
}

main {
    background: #fff;
}


/* ----- Home ----- */

.hero {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url('../static/Home/shop.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 3em;
    border-radius: 10px;
    max-width: 700px; 
    color: #ffffff;
}


.hero-container h1, .hero-container h2, .hero-container p {
    text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.5);
}

.hero-container h1, .hero-container h2 {
    margin: 0.5em;
    color: #fff;
}

.hero-container h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 0.1em;
    font-size: 4.5em;
    margin-bottom: 0;
}

.hero-container h2 {
    font-size: 2.5em;
    margin-top: 0;
}

.hero-container hr {
    width: 450px;
    height: 3px;
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 1.5em;
}

.hero-container p {
    font-size: 1.3em;
    margin: 1em 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.5);
}

.greeting {
    background-color: #f3f3f3;
    font-size: 1.5em;
    color: #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.greeting * {
    max-width: 800px;
    text-align: center;
}

.greeting h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
    color: #3E3E3F;
}

.greeting p {
    margin-top: 0;
}

.greeting p:first-of-type {
    margin-top: 1em;  
}

.categories {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.categories ul {
    list-style: none;
    padding: 2em 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.card {
    width: 340px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    margin: 0;
    transition: box-shadow 0.3s;
}

.card a {
    text-decoration: none;
    color: #3E3E3F;
    text-align: center;
}
  
.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
  
.card-image img {
    width: 100%;
    display: block;
    background: #ccc;
    height: 300px;
    object-fit: cover;
}
  
.card-title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 6px 0;
    text-align: center;
    padding: 1em;
    color: #3E3E3F;
}

.promotions { 
    width: 100%;
    background-color: #f3f3f3;
    justify-content: center;
    padding: 2em 0;
}

.promotions ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 2em;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.promotions ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.promo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.promo-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #fff;
    background-color: #2a3137;
    padding: 2em;
    position: relative;
}

.promo-content p {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

.promo-content .percent {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #86FF64;
    color: #2a3137;
    padding: 1em;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.promo-content .percent p {
    line-height: 1em;
    text-shadow: none;
    font-weight: bold;
}

.promo-content h2 {
    font-size: 3em;
    margin: 1em 0 0.5em 0;
    max-width: 400px;
}

.promo-content h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
}

.promo-card img {
    max-width: 320px;
    max-height: 400px;
    object-fit: cover;
}

.events { 
    width: 100%;
    background-color: #fff;
    justify-content: center;
    padding: 2em 0;
}

.events .title {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
    color: #3E3E3F;
}

.events ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.events ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: calc(50% - 24px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #fff;
    background-color: #2a3137;
    padding: 2em;
    position: relative;
    min-height: 250px;;
}

.event-content p {
    font-size: 1.5em;
    margin: 1em 2em;
    font-weight: 400;
}

.event-content h2 {
    font-size: 2.5em;
    max-width: 500px;
    text-shadow: 1px 1px 3px rgba(47, 47, 47, 0.5); 
}

.event-card img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-footer p {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

.promo-content a, .event-content a {
    text-decoration: none;
    right: 0;
    background: #586672;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.promo-content a:hover, .event-content a:hover {
    background: #1C7C01;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(28,124,1,0.4);
    transition: all 0.3s ease-in-out;
}

/* ----- Catalog ----- */
main.catalog {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    color: #3E3E3F;
}

.product-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 2em;
}

.product-categories a {
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8em 1.7em;
    text-decoration: none;
    font-weight: bold;
    color: #3E3E3F;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.product-categories a:hover {
    background-color: #5ed53d;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(28,124,1,0.4);
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
    max-width: 1200px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    width: 300px;
    height: 520px;
    overflow: hidden;
}

.item img {
    width: 300px;
    max-height: 400px;
    height: auto;
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}

.item h2 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
    font-weight: bold;
    text-align: center;
    color: #3E3E3F;
}

.item p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.1em;
    text-align: center;
    color: #565657;
}

.size-table {
    margin: 3em auto;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    overflow: hidden; 
}
.size-table h2 {
    text-align: center;
    margin: 1em;
    font-size: 1.5em;
    color: #3E3E3F;
    letter-spacing: 0.05em;
}
.size-table table {
    width: 100%;
    border-collapse: collapse;
}
.size-table th, .size-table td {
    border: 1px solid #e0e0e0;
    padding: 0.7em 1em;
    text-align: center;
}
.size-table th {
    background: #f3f3f3;
    font-weight: 600;
}


/* ----- About ----- */

.photo-container {
    background: #ffffff;
    background-image: url('../static/About/hanging_clothes.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    height: 600px;
    background-position: center;
}

.photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: relative;
}

.photo-container img {
    width: auto;
    height: 550px;
    object-fit: cover;
    position: absolute;
    left: 350px;
    bottom: 0;
}

.photo-container h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    position: absolute;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: right;
    max-width: 800px;
    right: 400px;
}

.photo-container .title {
    top: 150px;	
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}


.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.values h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #3E3E3F;
}

.values .baloons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5em;
}

.baloon {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2em;
}


.baloon img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 3em;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.baloon p {
    font-size: 1.2em;
    font-weight: 500;
    color: #3E3E3F;
    text-align: center;
    width: 400px;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.partners h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #3E3E3F;
}

.partner-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
}

.partners-logos a {
    text-decoration: none;
    align-items: center;
}

.partners-logos img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

.interesting {
    display: flex;
    flex-direction: column;
}

.interesting .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5em;
    max-height: 500px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.interesting .row:nth-of-type(2) {
    flex-direction: row-reverse;   
    justify-content: start;
    margin-right: 0;
    margin-left: -100px;
    background-color: #fff;
    gap: 10em;
}

.interesting .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    max-width: 800px;
}

.interesting .text h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #3E3E3F;
}

.interesting .text p {
    font-size: 1.2em;
    text-align: center;
    color: #3E3E3F;
}

.interesting img {
    width: 750px;
    height: 750px;
    aspect-ratio: 1 / 1;
    object-fit:cover;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: -100px;
}

/* ----- Contacts ----- */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.contacts h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    color: #3E3E3F;
}

.contact-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 70%;
    margin-bottom: 4em;
}

.contacts-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4em;
    background-color: #fff;
}

.contact-content {
    color: #3E3E3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contact-content p {
    font-size: 1.5em;
    margin-bottom: 0.05em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.contact-content p:nth-of-type(3) {
    margin-left: 1.2em;
    gap: 1.1em;
}

.contact-content i:nth-of-type(3) {
    margin-right: 1em;
}

.contact-card img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5em solid #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.map {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 4em;
    width: 40%;
}

.contact-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.contact-form form input, .contact-form form textarea {
    padding: 0.7em;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    font-size: 1em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3F;
    background-color: #fbfbfb;
    transition: border 0.3s;
    letter-spacing: 0.03em;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    border: 1px solid #1C7C01;
    outline: none;
}

.contact-form form input:focus::placeholder,
.contact-form form textarea:focus::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

.contact-form label {
    font-size: 1.2em;
    color: #3E3E3F;
    margin-left: 0.5em;
}

.contact-form h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    color: #3E3E3F;
}

textarea {
    resize: none;
}

button {
    background: #586672;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    
}

button:hover {
    background: #1C7C01;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(28,124,1,0.4);
    transition: all 0.3s ease-in-out;
}

/* ----- Footer -----  */

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #232325;
    color: #fff;
    padding: 4em 3em 3em 3em;
    text-align: center;
}

.footer-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 2em;
}

.footer-content .left p {
    margin: 0.3em 0;
    color: #fff;
}

.footer-logo {
    border: 2px solid #fff;
    border-radius: 50px;
    overflow: hidden;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0.8em 1em 0.5em 0.5em;
    margin-left: 1em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer-logo:hover {
    transform: scale(1.1);
}
  
.footer-social .social-icon {
    display: inline-block;
    margin: 1em 0.3em;
    padding: 0.1em;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    color: #222;
    border-radius: 50%;
    line-height: 1.5em;
    font-size: 2em;
    transition: background 0.1s, color 0.3s;
    text-align: center;
    vertical-align: middle;
}
  
.footer-social .social-icon:hover {
    background: #9fafbc;
    color: #000;    
    transform: scale(1.1);
}
  
.footer-menu a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}
  
.footer-menu a:hover {
    color: #1C7C01;
}
  
.footer-copyright {
    font-size: 1em;
    background-color: #1c1c1c;
    color: #d6d5d5;
}

.footer-copyright p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
}
  
.footer-copyright span {
    color: #1C7C01;
    font-weight: bold;
    margin-left: 5px;
}
  
/* --- Responsive Hamburger Menu --- */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #3E3E3F;
    z-index: 1001;
    margin: 0;
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    header {
        flex-direction: row !important;
        justify-content: space-between !important;
        padding: 1em 2em !important;
    }

    button.hamburger {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2em;
        color: #3E3E3F;
        box-shadow: none;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 1000;
        gap: 2em;
        padding: 2em 0;
        align-items: center;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
    }
    nav ul li a {
        color: #3E3E3F;
    }
    nav ul.active {
        display: flex;
    }
    .logo img {
        max-width: 300px !important;
        height: auto !important;
    }

    
    .categories ul li {
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 350px;
        text-align: center;
    }

    .card {
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 350px;
    }

    .card img {
        height: 250px;
        object-fit: cover;
    }
    .card-title {
        font-size: 1.2em;
    }

    .promotions ul {
        gap: 1em;
        padding: 0.5em 0;
    }
    .promotions ul li {
        flex-direction: column;
        width: 100%;
        min-width: unset;
        max-width: 98vw;
    }
    .promo-card {
        width: 100%;
        max-width: 98vw;
    }
    .promo-card img {
        max-width: 100%;
        max-height: 180px;
        height: auto;
        object-fit: cover;
    }
    .promo-content {
        padding: 1em;
    }
    .promo-content h2 {
        font-size: 1.5em;
        max-width: 100%;
    }
    .promo-content h3 {
        font-size: 1em;
    }
    .promo-content p {
        font-size: 1em;
    }
    .promo-content .percent {
        width: 70px;
        height: 70px;
        font-size: 1em;
        top: 10px;
        right: 10px;
        padding: 0.5em;
    }
    .promo-content .percent p {
        font-size: 1em;
    }
    .promo-content a {
        font-size: 0.95em;
        padding: 0.7em 1.2em;
    }
    
    .events ul {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 0.5em 0;
    }
    .events ul li {
        width: 100%;
        min-width: unset;
        max-width: 98vw;
    }
    .event-card {
        width: 100%;
        max-width: 98vw;
    }
    .event-card img {
        max-width: 100%;
        max-height: 180px;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .event-content {
        padding: 1em;
        min-height: unset;
    }
    .event-content h2 {
        font-size: 1.3em;
        max-width: 100%;
    }
    .event-content p {
        font-size: 1em;
        margin: 1em 0.5em;
    }
    .card-footer p {
        font-size: 1em;
    }
    .event-content a {
        font-size: 0.95em;
        padding: 0.7em 1.2em;
    }



    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;
        padding-top: 1em;
        text-align: center;
    }
    .footer-content .left,
    .footer-content .center,
    .footer-content .right {
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-content .center p:nth-of-type(3) {
        margin-bottom: 0.3em;
    }
    .footer-logo {
        width: 160px;
        height: 30px;
        margin: 0 auto;
        padding: 0.5em 0.5em 0.3em 0.3em;
    }
    .footer-logo img {
        width: 100%;
        height: 100%;
    }
    .footer-social .social-icon {
        font-size: 1.5em;
        margin: 0.5em 0.2em;
    }
    .footer-copyright p {
        font-size: 0.95em;
        padding: 0.5em;;
    }

    .photo-container {
        height: 350px;
        align-items: center;
        justify-content: center;
    }
    
    .photo-container img {
        height: 300px;
        left: 100px;
    }

    .photo-container h1 {
        font-size: 1.5em;
        right: 100px;
        bottom: 50px;
        max-width: 300px;
    }

    .photo-container .title {
        top: 120px;	
        font-size: 2.5em;
    }

    .greeting {
        font-size: 1.2em;
    }

    .values {
        padding: 1em;
        padding-bottom: 2em;
    }
    
    .values h1 {
        font-size: 2em !important;
        text-align: center;
        margin-bottom: 0.5 !important;
    }

    .values .baloons {
        flex-direction: column !important;
        align-items: center !important;
        gap: 3em !important;
    }

    .baloon {
        max-width: 450px !important;
        min-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .baloon img {
        width: 150px !important;
        height: 150px !important;
    }

    .baloon p {
        font-size: 1.1em !important;
        text-align: center;
        margin: 0;
        max-width: 350px !important;
        width: 100%;
    }

    .partners {
        padding: 1em !important;
    }

    .partners h1 {
        font-size: 2em !important;
        margin-bottom: 1em !important;
    }
    
    .partners-logos a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .partners-logos img {
        height: 150px !important;
        object-fit: contain !important;
        max-width: 90vw !important;
    }

    .interesting .row {
        gap: 2em !important;
        max-height: 320px !important;
        overflow: hidden !important;
        background-color: #f3f3f3;
        margin: 0 !important;
    }

    .interesting .row .text {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .interesting img {
        margin-right: -450px !important;
        border-radius: 50% !important;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.08) !important;
    }

    .interesting .row:nth-of-type(2) img{
        margin-right: 0 !important;
        margin-left: -300px !important;
    }

    .interesting .text {
        padding: 1.2em !important;
        max-width: 320px !important;
    }

    .interesting .text h2 {
        font-size: 1.1em !important;
    }

    .interesting .text p {
        font-size: 0.95em !important;
    }

    .contacts h1 {
        font-size: 2em;
        margin: 0.5em 0;
    }
    .contact-card {
        width: 85vw;
        margin-bottom: 2em;
    }
    .contacts-upper {
        flex-direction: column;
        justify-content: center;
        padding: 2.5em 0.5em ;
        gap: 1.5em;
    }
    .contact-card img {
        width: 200px;
        height: 200px;
    }
    .contact-content {
        padding: 0.5em 0;
        align-items: center;
        text-align: center;
    }
    .contact-content h2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    .contact-content p {
        font-size: 1em;
        margin: 0.5em 0;
        margin-left: 0;
        gap: 0.5em;
        justify-content: center;
    }
    .map {
        height: 300px;
    }
    .contact-form {
        width: 80vw;
        padding: 1em;
        margin-bottom: 2em;
    }
    .contact-form h2 {
        font-size: 1.5em;
        margin: 0.5em 0;
    }
    .contact-form label {
        font-size: 1em;
        margin-left: 0;
    }
    .contact-form form {
        width: 100%;
        gap: 8px;
    }
    .contact-form form input,
    .contact-form form textarea {
        font-size: 1em;
        padding: 0.5em;
    }
    button {
        width: 100%;
        font-size: 1em;
        padding: 0.7em 1em;
    }

    .product-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 600px;
    }
}

@media (max-width: 460px) {
    header {
        padding: 0.5em 1em !important;
    }
    .logo img {
        max-width: 150px !important;
        height: auto !important;
    } 
    nav ul {
        top: 60px;
        padding: 1em 0.2em;
        gap: 1em;
    }
    nav ul li {
        font-size: 1.1em;
    }

    .footer-content {
        padding: 1em 0.2em 0.5em 0.2em;
    }
    .footer-logo {
        width: 110px;
        height: 22px;
        padding: 0.3em 0.3em 0.2em 0.2em;
    }
    .footer-social .social-icon {
        font-size: 1.1em;
    }
    .footer-menu a {
        font-size: 0.95em;
        margin: 0 0.3em;
    }
    .footer-copyright p {
        font-size: 0.7em;
    }

    .hero {
        min-height: 220px;
        padding: 1em 0.2em;
    }
    .hero-container {
        padding: 0.7em 0.5em;
        max-width: 98vw;
    }
    .hero-container h1 {
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }
    .hero-container h2 {
        font-size: 1em;
        margin-top: 0.2em;
    }
    .hero-container p {
        font-size: 0.9em;
        margin: 0.5em 0;
    }
    .hero-container hr {
        width: 90vw;
        height: 2px;
        margin-top: 0.7em;
    }
    
    .greeting {
        font-size: 0.8em;
        padding: 0.8em;
    }

    .categories {
        padding: 0.5em;
        padding-bottom: 1em;
    }

    .categories ul {
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .categories ul li {
        max-width: 150px;
        min-width: 80px;
        margin: 0;
    }
    
    .card {
        width: 100%;
        max-width: 150px;
        min-width: 80px;
        margin: 0 auto;
    }

    .card-image img {
        object-fit: cover;
    }

    .card-title {
        font-size: 0.8em;
        padding: 0.3em 0.1em;
    }
    
    .promo-content h2 {
        font-size: 1em;
        max-width: 100%;
        margin: 0.3em 0;
    }
    .promo-content h3 {
        font-size: 0.9em;
        margin: 0.2em 0;
    }
    .promo-content p {
        font-size: 0.85em;
        margin: 0.2em 0;
    }
    .promo-content .percent {
        width: 60px;
        height: 60px;
        font-size: 0.85em;
        top: 5px;
        right: 5px;
        padding: 0.2em;
    }
    .card-footer p {
        font-size: 0.8em;
        max-width: 90px;
    }

    .card-footer a {
        font-size: 0.7em;
        padding: 0.5em 0.7em;
    }

    .events {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .events .title {
        font-size: 1.6em;
        margin: 0;
    }

    .photo-container {
        height: 180px;
    }
    .photo-container img {
        height: 120px;
        left: 30px;
    }
    .photo-container h1 {
        font-size: 0.9em;
        right: 30px;
        bottom: 20px;
        max-width: 120px;
    }
    .photo-container .title {
        top: 40px;
        font-size: 1.1em;
    }

    .values {
        padding: 0.5em;
        padding-bottom: 1em;
    }
    .values h1 {
        font-size: 1.1em !important;
    }
    .values .baloons {
        gap: 1em !important;
    }
    .baloon {
        max-width: 220px !important;
        min-width: 120px;
        gap: 0.7em;
    }
    .baloon img {
        width: 60px !important;
        height: 60px !important;
    }
    .baloon p {
        font-size: 0.9em !important;
        max-width: 120px !important;
    }

    .partners {
        padding: 0.5em !important;
    }
    .partners h1 {
        font-size: 1.1em !important;
        margin-bottom: 0.5em !important;
    }
    .partners-logos img {
        height: 60px !important;
        max-width: 80vw !important;
    }

    .interesting .row {
        gap: 0.7em !important;
        max-height: 120px !important;
        padding: 0 !important;
    }
    .interesting img {
        width: 60px !important;
        height: 60px !important;
        margin-right: -80px !important;
    }
    .interesting .row:nth-of-type(2) img {
        margin-left: -60px !important;
        margin-right: 0 !important;
    }
    .interesting .text {
        padding: 0.5em !important;
        max-width: 120px !important;
    }
    .interesting .text h2 {
        font-size: 0.7em !important;
    }
    .interesting .text p {
        font-size: 0.7em !important;
    }

    .contacts h1 {
        font-size: 1.1em;
        margin: 0.3em 0;
    }
    .contact-card {
        width: 98vw;
        margin-bottom: 1em;
    }
    .contacts-upper {
        padding: 1em 0.2em;
        gap: 0.7em;
    }
    .contact-card img {
        width: 70px;
        height: 70px;
    }
    .contact-content h2 {
        font-size: 1em;
        margin-bottom: 0.2em;
    }
    .contact-content p {
        font-size: 0.7em;
        margin: 0.2em 0;
    }
    .map {
        height: 80px;
    }
    .contact-form {
        width: 98vw;
        padding: 0.5em;
        margin-bottom: 1em;
    }
    .contact-form h2 {
        font-size: 1em;
        margin: 0.2em 0;
    }
    .contact-form label {
        font-size: 0.8em;
    }
    .contact-form form input,
    .contact-form form textarea {
        font-size: 0.8em;
        padding: 0.3em;
    }
    button {
        font-size: 0.9em;
        padding: 0.4em 0.7em;
    }

    .product-categories {
        width: 98vw;
        gap: 0.5em;
    }
    .product-categories a {
        font-size: 0.9em;
        padding: 0.5em 0.2em;
        min-width: 80px;
        max-width: 120px;
    }
    .catalog-items {
        gap: 0.7em;
        margin-bottom: 1em;
    }
    .item {
        width: 120px;
        height: 180px;
    }
    .item img {
        width: 120px;
        max-height: 100px;
    }
    .product-content {
        height: 60px;
        padding: 0.2em;
    }
    .item h2 {
        font-size: 0.8em;
    }
    .item p {
        font-size: 0.7em;
    }
    .size-table {
        margin: 1em auto;
        max-width: 98vw;
    }
    .size-table h2 {
        font-size: 1em;
        margin: 0.5em;
    }
    .size-table th, .size-table td {
        padding: 0.3em 0.5em;
        font-size: 0.7em;
    }
}
